/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Accommodation ***********/
.marseille {
    width: 66%;
}

/****** Popular ***********/
.popular {
    width: 33%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

.navbar {
    background-color:#ffffff
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    margin-left: 20px;
    position: relative;
}

.navbar li::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: transparent;
    top: -10px;
    left: 0;
    transition: 0.3s;
}

.navbar li:hover::before {
    background-color: #0065FC;
}

.navbar a {
    display: block;
    color: #040404;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    border-bottom: 10px;
    white-space: nowrap;
}

.navbar a:hover {
    color: #0065FC;
    border-bottom: 3px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.main-container {
    color: #000000;
    font-size: 15px;
}

.navbar {
  position: relative;  
}

.accommodation {
    font-size: 20px;
    font-weight: bold;
}

#logo {
    width: 3%;
}

p {
margin-bottom: 30px;
}

.search-bar {
    display: flex;
    border-radius: 15px;
    width: 250px;
    height: 40px;
    margin-bottom: 30px;
}

input::placeholder {
    font-weight: bold;
    font-size: 15px;
    opacity: 1;
    color: #000000;
}

.search-bar .location-icon {
    background-color: #F2F2F2;
    color: #000000;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.search-button {
    background-color: #0065FC;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.filter-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 20px;
}
.filter-container .filter-label {
    margin-right: 20px;
    font-weight: bold;
}

.budget {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 10px 15px;
    margin-right: 20px;
    cursor: pointer;
}

.budget:hover {
    background-color: #DEEBFF;
    color: #000000
}

.filter-container::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: transparent;
    top: -10px;
    left: 0;
    transition: 0.3s;
}

.filter-container:hover::before {
    background-color: #DEEBFF;
}

.family-friendly {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 10px 15px;
    margin-right: 20px;
}

.family-friendly:hover {
    background-color: #DEEBFF;
    color: #000000
}

.romance {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 10px 15px;
    margin-right: 20px;
}

.romance:hover {
    background-color: #DEEBFF;
    color: #000000
}

.top-picks {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 10px 15px;
    margin-right: 20px;
}

.top-picks:hover {
    background-color: #DEEBFF;
    color: #000000
}

.economy {
    font-weight: bold;
    margin-left: 10px;
}

.ff {
    font-weight: bold;
    margin-left: 10px;
}

.roma {
    font-weight: bold;
    margin-left: 10px;
}

.our-top-picks {
    font-weight: bold;
    margin-left: 10px;
}

.booking-info {
    margin-bottom: 50px;
}

.location-accommodations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hotels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.hotels .card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 4px 8px;
    width: 238px;
}

.hotels img {
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0 0;
}

.hotels .card-content {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.hotels .card-title {
    margin: 0;
    font-weight: bold;
}

.hotels .card-subtitle {
    margin-bottom: 0px;
}

.hotels .card-rating {
    margin-bottom: 0px;
}

.activities {
    width: 100%;
    padding: 10px
}

.fun {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.things {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;
}

.things .card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 4px 8px;
    width: 297.5px;
    height: 439px;
}

.things .card-content {
    padding: 5px;
}

.things img {
    width: 100%;
    height: 375px;
    border-radius: 20px 20px 0 0;
}

.things-to-do {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F2F2F2;
    color: #000000;
}

footer a {
    display: block;
}

.about {
    justify-content: space-between;
    padding: 25px;
}

.our_accommodation {
    justify-content: space-between;
    padding: 25px;
}

.support {
    justify-content: space-between;
    padding-right: 25px;
    padding-top: 20px;
}

/*For Tablet*/
@media all and (max-width: 1024px) {
    body {
        min-width: 768px;
    }
}

/* For Mobile */
@media all and (max-width: 768px) {
    body {
        min-width: 300px;
    }
}